$yellow: #feda6a;
$silver: #d4d4dc;
$gray: #393f4d;
$slate: #1d1e22;
$dark: rgb(29, 29, 32);
$home-background: rgba(57, 63, 77, 0.7);
$home-background-image: url('/star-gazing.jpg');
$slateOpacity: rgba(29, 30, 34, 0.7);